<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" name="viewport">
  <link rel="stylesheet" type="text/css" href="/styles/filter.css">
  <link rel="stylesheet" type="text/css" href="/styles/Navbar.css">
  <script type = "text/javascript" src = "/scripts/filter.js"></script>
  <script type = "text/javascript" src = "/scripts/navbar.js"></script>
  <script type = "text/javascript" src="/scripts/sorttable.js"></script>
</head>

<body onload="open()" id="bodyCSS">
  <% include ../partials/navbar %>
  <content class = "mainBody">

  <div id = "filterAccordion">
    <button class="accordion" id = "activeButton">Filter</button>
    <div class="panel" id = "activePanel">
      <form class = "filterForm">
        <input id = "filter_search" onkeyup="searchDatabase()" type="text" name="search" placeholder="Search..">
      </form>

      <form class = "filterForm">

      </form>
    </div>

    <button class="accordion" >Issue</button>
    <div class="panel">
      <form action= "/issue" class = "filterForm" method="POST">

        <!-- <input id = "issue_id" type = "text" name = "id" placeholder = "Key ID"> -->

        <div class = "inline">
          <select>
            <% people.forEach(function(peep) { %>
              <option name = "name" value = peep.name><%= peep.name %></option>
            <% }); %>
          </select>
          <select>
              <% keys.forEach(function(key) { %>
                <% if (key.num > 0 ) { %>
                <option  name = "keyid" value = key.id><%= key.id %></option>
                <% } %>
              <% }); %>
          </select>
          <!-- <input id = "issue_issueTo" class = "inline" type = "text" name = "issueTo" placeholder = "Issue To..."> -->
          <input type="submit" value="Issue" class = "inline">
        </div>
      </form>
    </div>

    <button class="accordion">Return</button>
    <div class="panel">
      <form class = "filterForm">
        <!-- <input id = "return_id" type = "text" name = "id" placeholder = "Key ID"> -->
        <div class = "inline">
          <!-- <input id = "return_issuedTo" type = "text" name = "issuedTo" placeholder = "Issued To..."> -->
          <select>
              <% keys.forEach(function(key) { %>
                <option value = key.id><%= key.id %></option>
              <% }); %>
          </select>
          <input type="submit" value="Return">
        </div>
      </form>
    </div>

    <button class="accordion">Add</button>
    <div class="panel">
      <form class = "filterForm">
        <input id = "add_id" type = "text" name = "id" placeholder = "Key ID">
        <input id = "add_room" type = "text" name = "room" placeholder = "Lock Location">
        <input id = "add_storage" type = "text" name = "storage" placeholder = "Storage Location">
        <input id = "add_num" type = "number" name = "availableKeys" placeholder = "Number of Keys">
        <div class = "inline">
          <input id = "add_type" type = "text" name = "type" placeholder = "Type">
          <input type="submit" value="Add">
        </div>
      </form>
    </div>

    <button class="accordion">Remove</button>
    <div class="panel">
      <form class = "filterForm">
        <!-- <input id = "remove_id" type = "text" name = "id" placeholder = "Key ID"> -->
        <div class = "inline">
          <select>
              <% keys.forEach(function(key) { %>
                <% if (key.num > 0 ) { %>
                <option value = key.id><%= key.id %></option>
                <% } %>
              <% }); %>
          </select>
          <input id = "remove_copies" type ="number" name = "room" placeholder = "No. To Remove">
          <input type="submit" value="Remove">
        </div>
      </form>
    </div>
  </div>
<!-- Database Table -->
  <table  id = "keyDatabase" class = "sortable">
    <thead>
    <tr>
      <th id = "tableID">Key ID</th>
      <th id = "tableType">Key Type</th>
      <th id = "tableAllocated">Allocated To</th>
      <th id = "tableStorage">Storage</th>
      <th id = "tableLock">Lock Location</th>
      <th id = "tableNumber">No. of Available Keys</th>
    </tr>
    <thead>
    <tbody>
    <% keys.forEach(function(key) { %>
      <tr>
        <td><%= key.id %></td>
        <td><%= key.type %></td>
        <td><%= key.allocated %></td>
        <td><%= key.storage %></td>
        <td><%= key.lock %></td>
        <td><%= key.num %></td>
      </tr>
    <% }); %>
  </tbody>
  </table>

</content>

</body>

</html>
